<!doctype html>
<html class="no-js" lang="en" manifest="/cache.manifest">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="apple-touch-startup-image" href="/static/img/design/startup-320x460.png" sizes="320x460" />
        <link rel="apple-touch-startup-image" href="/static/img/design/startup-640x1096.png" sizes="640x1096" />
        <link rel="apple-touch-startup-image" href="/static/img/design/startup-640x920.png" sizes="640x920" />

        <link rel="apple-touch-icon" href="/static/img/design/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/design/apple-touch-icon-72.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/design/apple-touch-icon-114.png"/>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        {% for item in data %}
        <div class="station" style="background-position: {{ item.percent }}% 0">
            <h1>{{ item.name }}</h1>
            <p>
                <span class="bikes">Bikes: {{ item.bikes }}</span>
                <span class="spaces">Spaces: {{ item.spaces }}</span>
            </p>
        </div>
        {% endfor %}
    </body>
</html>
